<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'register_form' %}" method="post">
    {% csrf_token %}
{#    {{ form.as_p }}#}
    {% for item in form %}
        <div>
            <label for="{{ item.id_for_label }}">{{ item.label }}</label>
            {{ item }}
        </div>
        <p>{{ item.error.as_text }}</p>
    {% endfor %}
        <span>{{ form.non_field_errors }}</span>
    <input type="submit" value="zhuce">
</form>
</body>
</html>